*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section{
    width: 600px;
    height: 250px;
    margin: 50px auto 0;
    display: grid;
    grid-gap: 2px;
    grid-template-areas: "header header header "
                         "menu menu sidebar"
                         "con-left con-right sidebar"
                         "center-bottom footer footer";                    
}

section div {
    background-color: aqua;
}

.header {
    grid-area: header;
}
.menu{
    grid-area: menu;
}
.sidebar{
grid-area: sidebar;
}

.con-left{
    grid-area: con-left;
}
.con-right{
    grid-area: con-right;
}

.footer{
    grid-area: footer;
}
.center-bottom{
    grid-area: center-bottom;
}