* {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    
}

.row-1, .row-3, .row-4 {
    display: flex;
    height: 200px;
    margin-bottom: 30px;
}

.row-1, .row-2, .row-3, .row-4 {
    display: flex;  
    margin-bottom: 50px;
    font-size: 50px;
    

}

.row-2{
    height: 200px;
    margin-bottom: 240px;
    padding: 0;
}

.row-left 
{
    flex-grow: 1;
    height: 100%;
    width: 100%;
    margin-right: 100px;
    padding: 0;
    
}

.row-right
{
    height: 400px;
    width: 100%;
    padding: 0;
    background: pink;
    
    
}
.up-rows
{
    height: 100%;
    display: flex;
    margin-bottom: 5px;
    margin-bottom: 20px;
}
.up-rows div:first-child{
    margin-right: 50px;
}

.down-rows
{
    height: 100%;
    width: 100%;
    
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
    background: gray;
    height: 100%;
    width: 100%;
    
}



