div, header, footer{
    background: blue;
    height: 150px;
    margin-bottom: 30px;
}

header{
    width : 700px;
}

div{
    width : 200px;
    display: block;
}

.col-1
{
float: left;
margin-right: 50px;
}

.col-2{
float: left;

}

.col-3{

float: right;
margin: auto;
margin-bottom: 30px;
}

footer{

    width : 700px;
    clear: both;
}

body{
    
    width : 700px;
    font-size: 60px;
    color : white;
    
}