body
{
    width: 700px;

}

div{
    height: 50px;
    background: blue;
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
}

.col-2, .col-3, .col-4
{
    width: 200px;
}

.col-2
{
    float: left;
    margin-right: 50px;
}

.col-3
{
float: left;


}

.col-4
{
    float: right;
}

.col-5
{
    clear: both;
    width: 450px;
    margin-right: 50px;
    float: left;

}
.col-6
{
    float: right;
    width: 200px;
}
.col-7
{
    clear: both;
    width: 200px;
    margin-right: 50px;
    float: left;
}
.col-8
{
    float: right;
    width: 450px;
}
.col-9
{
    clear: both;
}